$background: #fcfcfc;
$text_color: #121212;
$footer_color: #e2e2e2;
$width: 960px;
$font_size: 18px;
$line_heigth: 24px;
$font_size_header: 1.667em;
$headings_font: "alternate-gothic-no-2-d",sans-serif;
$text_font: "kepler-std",serif;
$left_side: 560px;
$right_side: 400px;