$background: #fcfcfc;
$text_color: #121212;
$footer_color: #e2e2e2;
$hover_color: #cf0000;
$width: 53.333em;
$font_size: 1.125em;
$line_heigth: 1.500em;
$font_size_header: 1.667em;
$headings_font: "alternate-gothic-no-2-d",sans-serif;
$text_font: "kepler-std",serif;
$left_side: 31.111em;
$right_side: 22.222em;
$margin_bottom: 6.667em;
$grid_font_color: #fcfcfc;
$form_input_size: 28.333em;
$blog_width: 28.333em;